:root {
    --color-primary: #E59321;
    --color-on-primary: ##FFF;
    --color-surface: #FFF;
    --color-on-surface: #000826;
    --color-on-surface-variant: #474E66;
    --color-surface-inverse: #000826;
    --color-on-surface-inverse: #FFF;

    --font-primary-family: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary-family);
}

body {
    position: relative;
    min-height: 100vh;
}

.page-header {
    display: flex;
    padding: 16px 32px;
    align-items: center;
    gap: 16px;
    background: var(--color-surface-inverse, #030818);
}

.page-content {
    padding: 32px;
    background: var(--color-surface, #FFF);
    padding-bottom: 273px;
}

.post {
    margin-bottom: 32px;
    padding: 16px;
    border-radius: 8px;
    background: var(--color-surface, #FFF);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.10);
    justify-self: center;
}

.post>header {
    margin-bottom: 32px;
}

.post .post__title {
    color: var(--color-on-surface, #030818);
    font-size: 28px;
    font-weight: 400;
}

.post .post__content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.post video {
    width: 100%;
    max-width: 1376px;
    height: auto;
    border-radius: 16px;
}

.post .post__summary {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.post .post__description {
    color: var(--color-on-surface-variant, #474E66);
    font-size: 18px;
    line-height: 27px;
}

.post .post__audio-list {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    list-style-type: none;
}

.post .post__content figure {
    margin-top: 16px;
    text-align: center;
}

.post .post__content figure img {
    max-width: 100%;
    border-radius: 8px;
}

.post .post__content figure figcaption {
    margin-top: 8px;
    font-size: 16px;
    color: var(--color-on-surface-variant, "#474E66");
}

.page-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.footer__website-details {
    display: flex;
    padding: 32px;
    justify-content: center;
    gap: 128px;
    background: var(--color-surface-inverse, #030818);
    color: var(--color-on-surface-inverse, "#FFF");
}

.footer__website-details .footer__company {
    width: 100%;
    max-width: 492px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.footer__website-details .footer__links-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    list-style-type: none;
}

.footer__website-details .footer__links-list a {
    color: var(--color-on-surface-inverse, "#FFF");
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.footer__website-details .footer__form {
    display: flex;
    flex-direction: column;
}

.footer__website-details .footer__form .footer__form__title {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}

.footer__website-details .footer__form input {
    padding: 16px;
    border: 0;
    border-radius: 8px;
    background: var(--color-surface, "#FFF");
    margin-top: 16px;
}

.footer__website-details .footer__form button {
    border-radius: 16px;
    background: var(--color-primary, "#E59321");
    padding: 8px;
    align-items: center;
    font-weight: 600;
    color: var(--color-on-primary, "#FFF");
    border: 0;
    margin-top: 16px;
}

.footer__team {
    background: var(--color-surface, "#FFF");
    color: var(--color-on-surface-variant, "#474E66");
    padding: 16px 0;
    display: flex;
    justify-content: center;
    gap: 16px;
    font-size: 14px;
}

@media only screen and (max-width: 712px) {
    .page-header {
        display: flex;
        padding: 8px 16px;
    }

    .page-content {
        padding: 16px;
    }

    .page-footer {
        position: relative;
    }

    .post .post__audio-list li,
    .post .post__audio-list li audio {
        width: 100%;
    }

    .footer__website-details {
        display: flex;
        flex-direction: column;
        padding: 32px;
        justify-content: center;
        gap: 32px;
    }

    .footer__website-details .footer__links-list {
        align-items: flex-start;
        gap: 8px;
    }

    .footer__website-details .footer__form {
        display: flex;
        flex-direction: column;
    }

    .footer__team {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 12px;
        gap: 8px;
    }
}