* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(to bottom, #6a89cc, #a9b7c9);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 90%;
    max-width: 400px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    backdrop-filter: blur(10px);
}

.card-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid white;
}

h1 {
    color: white;
    margin-top: 10px;
}

p {
    color: white;
    font-size: 14px;
    margin-bottom: 15px;
}

.btn {
    display: block;
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    background: white;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.btn:hover {
    background: #4184ff;
    color: white;
}

.back-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

.back-btn:hover {
    background-color: #0059ff;
    color: white;
}

.social-icons {
    margin-top: 15px;
}

.social-icons a {
    color: white;
    font-size: 24px;
    margin: 0 10px;
    text-decoration: none;
}