body {
    display: flex;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
}

.video-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.carta {
    width: 150px;
    height: 220px;
    perspective: 1000px;
    margin-top: 90px;
}

.carta-inner {
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

.carta:hover .carta-inner {
    transform: rotateY(180deg);
}

.carta-front,
.carta-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.carta-front {
    font-size: 24px;
    background-color: white;
    padding: 4%;
    font-family: "Pixelify Sans", sans-serif;
}

.naipe {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.3);
}

.carta-back {
    background-image: url('../images/back.png');
    background-size: cover;
    transform: rotateY(180deg);
    padding: 4%;
}

.carta-left {
    position: absolute;
    top: 10%;
    left: 2%;
    transform: translate(-30%) rotate(90deg);
}

.carta-right {
    position: absolute;
    top: 80%;
    right: -10%;
    transform: translateY(-18%) rotate(-90deg);
}

.logo {
    margin-top: 10px;
}