* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #f47aa6;
    --text-color: #f9f9f9;
    --background-color: #17181f;
    --dark-color: #15161b;
    --medium-color: #2b2d38;
    --danger-color: #ff4d4d;
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100vw;

}

button {
    cursor: pointer;
}

#header {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;
}

#header .title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
    flex-wrap: wrap;
    gap: 1.6rem;
}

#header .title button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    background: none;
    border: none;
    color: var(--text-color);
    opacity: 0.5;
    transition: all 0.3s ease-in-out;
}

#header .title button:hover {
    opacity: 1;
}

#header .title .add {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.4rem;
    height: 2.4rem;
    background: var(--primary-color);
    border-radius: 8px;
    text-align: center;
    color: var(--dark-color);
}

#header .filters {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1.6rem;
    flex-wrap: wrap;
}

.checkbox {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
}

.checkbox span {
    display: flex;
    min-width: 2.4rem;
    min-height: 2.4rem;
    width: 2.4rem;
    height: 2.4rem;
    border: 2px solid var(--primary-color);
    border-radius: 8px;
    position: relative;
    cursor: pointer;
}

.checkbox input:checked+span {
    background: var(--primary-color);
}

/* .checkbox input:checked+span::before { ta com problema sei la pq ta assim
    content: '';
    position: absolute;
    width: 0.5rem;
    height: 1.2rem;
    top: calc(50% - 2px);
    left: 50%;
    border-right: 0.3rem solid var(--dark-color);
    border-left: 0.3rem solid var(--dark-color);
    transform: translate(-50%, -50%) rotate(45deg);
    transition: all 0.3s ease-in-out;
    } */
.checkbox input:checked+span::before {
    content: '';
    position: absolute;
    width: 0.4rem;
    height: 0.8rem;
    top: 50%;
    left: 50%;
    border-right: 0.2rem solid var(--dark-color);
    border-bottom: 0.2rem solid var(--dark-color);
    transform: translate(-50%, -50%) rotate(45deg);
}


.checkbox input {
    display: none;
}

#content {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 90%;
    max-width: 600px;
    margin: 3.2rem auto;
}

.task {
    display: flex;
    align-items: center;
    padding: 1.6rem;
    background-color: var(--medium-color);
    border-radius: 1.6rem;
    gap: 1.6rem;
}

.task label {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.task button {
    width: 2.4rem;
    height: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: none;
    color: var(--primary-color);
    opacity: 0;
    transition: all 0.3s ease-in-out;
}

.task:hover button {
    opacity: 0.5;
}

.task button:hover {
    opacity: 1;
}

.task h3 {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.1rem;
}

.task p {
    font-size: 1.2rem;
    opacity: 0.5;
}

.task.checked {
    opacity: 0.5;
}

.task.checked h3 {
    text-decoration: 2px line-through;
}

.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.modal {
    padding: 1.6rem;
    background: var(--dark-color);
    position: absolute;
    top: 10%;
    max-height: 80%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 1.6rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    z-index: 2;
}

.modal h2 {
    padding-right: 4.8rem;
}

.modal form {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.modal label {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.modal input {
    width: 100%;
    padding: 0.8rem;
    font-family: 'Poppins', sans-serif;
    border: 0.2rem solid var(--medium-color);
    background: var(--medium-color);
    color: var(--text-color);
    border-radius: 0.8rem;
    font-size: 1.6rem;
}

.modal input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(1);
    cursor: pointer;
}

.modal .send {
    background-color: var(--primary-color);
    padding: 0.8rem;
    height: 4rem;
    border: none;
    font-weight: bolder;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.2rem rgba(0, 0, 0, 0.2);
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 0.8rem;
}

.modal .close {
    background: none;
    border: none;
    color: var(--text-color);
    opacity: 0.5;
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 1.6rem;
    right: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all 0.3s ease-in-out;
}

.modal .close:hover {
    rotate: 90deg;
    background-color: var(--medium-color);
    opacity: 1;
}

.giant-close-button {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: none;
    background: none;
    cursor: default;
    z-index: 1;
}

.empty {
    text-align: center;
    margin: 3.2rem 0;
    opacity: 0.5;
}