/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-areas:
        "header header"
        "aside main"
        "footer footer";
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 200px 1fr;
    min-height: 100vh;
}

header {
    grid-area: header;
    background-color: #0882dc;
    color: white;
    padding: 20px;
    text-align: center;
}

aside {
    grid-area: aside;
    background-color: #f4f4f4;
    padding: 20px;
}

aside h2 {
    margin-bottom: 10px;
}

aside ul {
    list-style: none;
    padding: 0;
}

aside ul li {
    margin-bottom: 10px;
}

aside ul li a {
    text-decoration: none;
    color: #333;
}

main {
    grid-area: main;
    padding: 20px;
    overflow: auto;
}

p {
    font-size: 20px;
    margin-bottom: 20px;
}

.text-hour {
    font-size: 24px;
    margin-bottom: 20px;
}

.time-table {
    width: 100%;
    overflow-x: auto;
    margin-bottom: 40px;
}

.time-table table {
    width: 100%;
    border-collapse: collapse;
}

.time-table th,
.time-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
}

.time-table thead {
    background-color: #007bff;
    color: white;
}

.time-table tbody tr:nth-child(even) {
    background-color: #f3f3f3;
}

.time-table tbody tr:hover {
    background-color: #e0e0e0;
}

.contact-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-form header {
    margin-bottom: 20px;
}

.contact-form .form-row {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.contact-form .form-group {
    flex: 1;
}

.contact-form label {
    display: block;
    margin-bottom: 10px;
}

.contact-form select {
    margin-bottom: 10px;
}

.contact-form input,
.contact-form select,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form textarea {
    resize: vertical;
}

.submit-btn {
    margin-top: 1%;
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-btn:hover {
    background-color: #0056b3;
}

footer {
    grid-area: footer;
    background-color: #0882dc;
    color: white;
    text-align: center;
    padding: 20px;
}