@import "tailwindcss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer-site";
    min-height: 100vh;
}

header {
    grid-area: header;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 0;
    background: transparent;
    transition: background 0.3s;
    z-index: 1000;
}

header.scrolled {
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #ffffff;
    font-size: 100%;
    font-weight: bold;
}

header.scrolled .logo {
    color: #3a3a3a;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 0 5% 0 5%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 5px 0;
    transition: color 0.3s;
}

header.scrolled nav ul li a {
    color: #242424;
}

header.scrolled nav ul li a:hover,
header.scrolled nav ul li a.active {
    color: #007bff;
}

nav ul li a:hover,
nav ul li a.active {
    color: #ffffff;
}

nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #007bff;
    transition: width 0.3s;
}

nav ul li a:hover::after,
nav ul li a.active::after {
    width: 100%;
}

.hero {
    grid-area: hero;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/main-image.png');
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(8, 14, 32, 0.747);
}

.hero h1 {
    font-size: 4rem;
    margin-bottom: 20px;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

.hero p {
    font-size: 2.5rem;
    margin-bottom: 40px;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

.Btn-bottom {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    cursor: pointer;
    z-index: 1;
}

.hero h1,
.hero p {
    position: relative;
    color: white;
    z-index: 1;
    text-align: center;
    padding: 4%;
}


@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: center;
    }
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas:
        "hero"
        "customers"
        "client-content"
        "howsoft-section";
    gap: 20px;
}

.customers {
    grid-area: customers;
    text-align: center;
    padding: 50px 0px;
}

.customers h2 {
    color: #0882dc;
    font-size: 3em;
    font-weight: bold;

    @media screen and (max-width: 768px) {
        font-size: 34px;
    }
}

.logos {
    display: flex;
    justify-content: center;
    gap: 2%;
    opacity: 0.6;
    margin: 40px 0;
}

.logos span {
    font-size: 34px;
    font-weight: bold;
    color: #888;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

.client-content {
    grid-area: client-content;
    display: flex;
    align-items: center;
    background-color: #0882dc;
    color: white;
}

.client-content img {
    width: 33%;
    height: auto;
    object-fit: cover;
}

.text-client {
    width: 50%;
    padding-left: 34px;
}

.text-client h3 {
    font-size: 53px;
    font-weight: bold;
    max-width: 53%;

    @media screen and (max-width: 768px) {
        font-size: 24px;
    }
}

.text-client p {
    margin-top: 15px;
    font-size: 21px;
}

.btn-contact {
    margin-top: 21px;
    background-color: white;
    color: #0882dc;
    font-weight: bold;
    padding: 14px 25px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.btn-contact:hover {
    background-color: #e0e0e0;
}

.img-l {
    margin-left: -91%;
    margin-bottom: -9%;
    width: 9%;
}

.img-r {
    margin-right: -91%;
    margin-top: -10%;
    width: 9%;
}

.howsoft-section {
    grid-area: howsoft-section;
    background-color: #fff;
    padding: 80px 20px;
    margin: 40px auto;
    max-width: 90%;
}

.howsoft-header {
    text-align: center;
    margin-bottom: 8%;
}

.howsoft-header h1 {
    margin: 0;
    font-size: 46px;
    color: #333;
    font-weight: lighter;
}

.howsoft-header h2 {
    margin: 0;
    font-size: 46px;
    color: #333;
}

.howsoft-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15%;
}

.howsoft-content2 {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 5%;
    margin-bottom: 5%;
}

.howsoft-text {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}

.howsoft-text h3 {
    font-size: 28px;
    color: #333;
    margin-bottom: 10px;
}

.howsoft-text p {
    font-size: 16px;
    color: #666;
    margin: 10px 0;
}

.howsoft-text .howsoft-highlight {
    color: #07a4e9;
}

.howsoft-text blockquote {
    border-left: 4px solid #07a4e9;
    padding-left: 10px;
    margin-top: 20px;
    font-style: italic;
    color: #555;
}

.howsoft-text blockquote footer {
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-top: 10px;
}

.howsoft-image {
    flex: 1;
    padding: 20px;
    min-width: 300px;
}

.howsoft-image img {
    max-width: 100%;
    display: block;
    border-radius: 10px;
}

.deco-line {
    display: block;
    margin: 21px auto;
}

.footer-site {
    grid-area: footer-site;
    background-color: #0882dc;
    color: white;
    text-align: center;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text-hour {
    font-size: 24px;
    margin-bottom: 20px;
}

.time-table {
    width: 90%;
    overflow-x: auto;

    @media screen and (max-width: 768px) {

        max-width: 90%;
    }
}

.time-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.time-table th,
.time-table td {
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;

    @media screen and (max-width: 768px) {
        padding: 0px;
    }

    @media screen and (max-width: 506px) {
        border: 0;
    }
}

.time-table thead {
    color: white;
}